/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**@import "compass/reset";**/
@import url(http://fonts.googleapis.com/css?family=Unkempt);
/* line 1, ../sass/_cssreset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/_cssreset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/_cssreset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/_cssreset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/_cssreset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/_cssreset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_cssreset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_fonts.scss */
h1, h2, h3, h4, span, p {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  font-family: "Unkempt" arial;
}

/* line 9, ../sass/_fonts.scss */
h4 {
  position: relative;
  top: 150px;
}

/* line 15, ../sass/_fonts.scss */
p {
  text-align: left;
  font-size: 1.4em;
  z-index: 1;
  position: relative;
  top: 200px;
  width: 80%;
  left: 10%;
  color: white;
}

/* line 27, ../sass/_fonts.scss */
h2 {
  position: relative;
  top: -55px;
  font-size: 2.1em;
}

/* line 34, ../sass/_fonts.scss */
h3 {
  font-size: 1.5em;
  margin-top: 5%;
  padding: 0;
}

/* line 41, ../sass/_fonts.scss */
.step1 h2, .step1 h3 {
  color: #87E293;
}

/* line 44, ../sass/_fonts.scss */
.step2 h2, .step2 h3 {
  color: #FFCC00;
}

/* line 47, ../sass/_fonts.scss */
.step3 h2, .step3 h3 {
  color: #732C7B;
}

/* line 50, ../sass/_fonts.scss */
.step4 h2, .step4 h3 {
  color: #CC0000;
}

/* line 1, ../sass/_images.scss */
img[alt="toyblocks"], img[alt="form"], img[alt="chalkboard"],
img[alt="contactus"], img[alt="activities"], img[alt="calendar"] {
  width: 100%;
  height: auto;
}

/* line 9, ../sass/_images.scss */
.chalkboard {
  position: relative;
  width: 50%;
  background: white;
  top: -3%;
  left: 25%;
  height: 0%;
}

/* line 20, ../sass/_images.scss */
.toyblocks {
  position: relative;
  bottom: -55%;
  left: 1%;
  max-width: 100%;
  width: 40%;
  height: 0%;
}

/* line 30, ../sass/_images.scss */
.toyblocks_con {
  position: relative;
  bottom: -45%;
  left: 1%;
  max-width: 100%;
  width: 60%;
  height: 0%;
}

/* line 41, ../sass/_images.scss */
.toyblocks_ac {
  position: relative;
  bottom: -85%;
  left: 1%;
  max-width: 100%;
  width: 60%;
  height: 0%;
}

/*.toyblocks_new:first-child
{
        bottom: -80%;
}
*/
/* line 57, ../sass/_images.scss */
.thumb_form {
  width: 45%;
  margin: 0 auto;
  z-index: -1;
  opacity: .8;
}

/* line 3, ../sass/_layout.scss */
body, html {
  height: 100%;
}

/* line 10, ../sass/_layout.scss */
.parallax .slides {
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}
/* line 17, ../sass/_layout.scss */
.parallax .slides:nth-child(2n) {
  box-shadow: inset 0 0 .5em #585858;
}

/*each slide/section*/
/* line 25, ../sass/_layout.scss */
.slide_programs {
  background: url("../img/giftly.png") repeat;
}

/* line 30, ../sass/_layout.scss */
.slide_activities {
  background: url("../img/photography.png") repeat;
}

/* line 35, ../sass/_layout.scss */
.slide_enrollment {
  background: url("../img/school.png") repeat;
}

/* line 40, ../sass/_layout.scss */
.slide_about {
  background: url("../img/geometry.png") repeat;
}

/* line 46, ../sass/_layout.scss */
.table {
  display: table;
  margin: 7% auto;
  margin-left: 20%;
  padding: 0;
}

/* line 54, ../sass/_layout.scss */
.box {
  padding: 0;
  margin: 0% auto;
  list-style-type: none;
  text-align: left;
}
/* line 60, ../sass/_layout.scss */
.box li {
  float: left;
  width: 215px;
  height: 215px;
  border-radius: 360px;
  box-shadow: 0 0 0 10px rgba(158, 200, 253, 0.9);
  background: #e3c775;
  margin: 40px;
  cursor: pointer;
}
/* line 71, ../sass/_layout.scss */
.box li:nth-child(even) {
  margin: 28% 0% 0% 0%;
}

/* line 79, ../sass/_layout.scss */
.sticker {
  float: left;
  width: 320px;
  height: 320px;
  border-radius: 360px;
  box-shadow: 0 0 0 10px rgba(158, 200, 253, 0.9);
  background: #e3c775;
  margin: 40px;
  cursor: pointer;
}

/* line 2, ../sass/_animations.scss */
span {
  display: table;
  position: relative;
  top: -5em;
  font-size: 1.2em;
  font-weight: 900;
  opacity: 0;
}

/* line 14, ../sass/_animations.scss */
.sticker span {
  top: 8em;
  opacity: 1;
}

/* line 20, ../sass/_animations.scss */
li:hover, .sticker:hover {
  background: #fbf7eb;
}

/*selects all classes begining with 'thumb_' which is all 4 steps thumbnails*/
/* line 26, ../sass/_animations.scss */
li:hover [class^="thumb_"] {
  opacity: .08;
}

/*display info in hidden span*/
/* line 31, ../sass/_animations.scss */
li:hover span {
  opacity: 1;
}
