img[alt="toyblocks"], img[alt="form"], img[alt="chalkboard"],
img[alt="contactus"],img[alt="activities"], img[alt="calendar"]
{
    width: 100%;
    height: auto;

}

.chalkboard
{
    position: relative;
    width: 50%;
    background: white;
    top: -3%;
    left: 25%;
    height: 0%;
}


.toyblocks
{
    position: relative;
    bottom: -55%;
    left: 1%;
    max-width: 100%;
    width: 40%;
    height: 0%;
}

.toyblocks_con
{
    position: relative;
    bottom: -45%;
    left: 1%;
    max-width: 100%;
    width: 60%;
    height: 0%;

}

.toyblocks_ac
{
    position: relative;
    bottom: -85%;
    left: 1%;
    max-width: 100%;
    width: 60%;
    height: 0%;

}

/*.toyblocks_new:first-child
{
        bottom: -80%;
}
*/
.thumb_form
{
    width:45%;
    margin: 0 auto;
    z-index: -1;
    opacity: .8;

}



