

body,html{
    height: 100%;
}


.parallax
{
    .slides
    {
        background-position: center center;
        background-attachment: fixed;

        height: 100vh;

        &:nth-child(2n)
        {
            box-shadow: inset 0 0 .5em #585858;
        }
    }
}

/*each slide/section*/
.slide_programs
{
    background: url("../img/giftly.png") repeat;
}

.slide_activities
{
    background: url("../img/photography.png") repeat;
}

.slide_enrollment
{
    background: url("../img/school.png") repeat;
}

.slide_about
{
    background: url("../img/geometry.png") repeat;
}


.table
{
    display: table;
    margin: 7% auto;
    margin-left: 20%;
    padding: 0;
}

.box
{
padding: 0;
margin: 0% auto;
list-style-type: none;
text-align: left;
li{
    float: left;
    width: 215px;
    height: 215px;
    border-radius: 360px;
    box-shadow: 0 0 0 10px rgba(158, 200, 253, 0.9);
    background: #e3c775;
    margin: 40px;
    cursor:  pointer;
}

li:nth-child(even)
{
    margin: 28% 0% 0% 0%;

}

}

.sticker{
    float: left;
    width: 320px;
    height: 320px;
    border-radius: 360px;
    box-shadow: 0 0 0 10px rgba(158, 200, 253, 0.9);
    background: #e3c775;
    margin: 40px;
    cursor:  pointer;
}


