<div class="slide_enrollment slides">
<!--              <h1>Enrollment</h1>
 -->             <div class="toyblocks"><img src="img/toyblocks.svg" alt="toyblocks"/></div>
            
            <div class="table">
             <ul class="box">
                <li>
                    <div class="step1"><h2>Step 1:</h2><div class="thumb_form"><img src="img/form.svg" alt="form"></div>
                    <span> Fill the enrollment, & the food forms. Then review the 'parent handbook'. </span>
                  <h3>Fill Forms</h3>
                    </div>
                    

                </li>

                <li>
                    <div class="step2"><h2>Step 2:</h2><div class="thumb_form"><img src="img/form.svg" alt="form"></div>
                    <span> Make sure you bring your child's shot records within 30days. </span>
                 <h3>Bring Records</h3>
                    </div>
                   

                </li>
                <li>
                    <div class="step3"><h2>Step 3:</h2><div class="thumb_form"><img src="img/form.svg" alt="form"></div>
                    <span> Bring extra sets of clothes, diapers, blankets, and other neccesites. </span>
                  <h3>Extra Stuff</h3>
                    </div>
                  
                </li>
                <li>
                    <div class="step4"><h2>Step 4:</h2><div class="thumb_form"><img src="img/form.svg" alt="form"></div>
                    <span> Relax, and stop worrying. Will look after the kids while they have fun! </span>
        
                      <h3>Stop Worrying!</h3>
                    </div>
                </li>
            </ul>
            </div>


        </div>